html {
    box-sizing: border-box;
    font-size: 62.5%;  
    /* reset para rems :
    16px es la base del tamaño fuente en html 
    62.5 = 10px de 16px
        */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
header {
    background: #014f84;
}
        
section {
    margin-top: 30px;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
  }
aside h2 {
    text-align: center;
    margin: 15px;
    font-weight: 600;
}
aside h3 {
    font-size: 1.6rem;
    line-height: normal;
}
aside p {
    line-height:1.5;
    font-size: 1.3rem;
}
aside .noticias-li {
    margin-top: 20px;
}


/* Globales */
img {
    width: 100%;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: flex-end;
}

footer a {
    color: white;
}
footer a:hover {
    color: white;
}
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}
h2.card-title {
    font-size: 8rem;
}


.condiciones {
    font-size: 1rem;
    color: red;
    font-style: italic;
}

/* BOTONES */
button {
    border: none;
}
#btn-menu {
    display: none;
}
#btn-whatsapp {
    background-color: #0bbd38;
    color: white;
    padding: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2.2rem;
    transition: ease-in-out 0.5s;
}
#btn-whatsapp:hover {
    text-decoration: none;
    background-color: white;
    border: 1px solid #0bbd38;
    color: #0bbd38;
}
.btn-consulta {
    transition: ease-in-out 0.5s ;
}
.btn-consulta:hover {
    background-color: #0bbd38;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2rem;
}
.service-title {
    background: none;
    font-size: 2rem;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.f-wrap {
    flex-wrap: wrap;
}
.jumbo-screenfit {
    max-width: 700px;
}
.h-500 {
    height: 500px;
}


/* PADDINGS */
.no-padding {
    padding:0;
}
.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding:30px;
}
.padding-30 {
    padding: 30px;
}
.padding-lr-30 {
    padding: 0 30px;
}
/* MARGENES */
.margin-5 {
    margin: 5px;
}
.margin-15 {
    margin: 15px;
}
.margin-30 {
    margin: 30px;
}

/* BACKGROUND COLOR */
.bg-main {
    background: #005fbf;
}
.bg-gris {
    background-color: #d3d3d3;
}
.bg-footer {
    background-color: #040404;
}


    /* FUENTES */
.fw-300 {
    font-weight: 300;
}

/* HEADER */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-bar-element a {
    color: white;
}
.top-bar-element, .top-bar-element:hover {
    color: white;
}

.main-header {
    padding: 1rem 0;
}
.main-title img {
    width: 70%;
    flex-shrink: 0;
}

a.nav-enlace {
    display: inline-block;
    color: #fff;
    padding: 5px;
    font-weight: 600;
}
a.nav-enlace:hover {
    border-bottom: 2px solid #ccc;
    text-decoration: none;
}
.active {
    border-bottom: 2px solid #ccc;
}

.nosotros-li {
    font-size: 2rem;
    list-style: none;
}

.contacto-title {
    background: #014f84 url("../img/contacto-head.jpg") center no-repeat;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.ocultar-serv {
    display: none;
}

/* PAGES */
.nosotros-page-txt p {
    font-size: 2rem;
    padding: 15px;
}


/* BLOG */
.blog-cards {
    font-size: 5rem;
    color: white;
    width: 25%;
    height: 200px;
    border-radius: 15px;
    margin: 5px; 
}
.article-description, .article-description a {
    color: #696969;
    font-size: 1.4rem;
}
blockquote {
    margin: 15px;
    font-size: 2rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
blockquote::before {
    content: '“';
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    font-style: italic;
}


/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .container, .container-md, .container-sm   {
        max-width: 100%;

    }
}
@media (max-width: 768px) {
   body.padding-30{
       padding: 0;
   }
   .main-title img {
    width: 100%;
}
.main-header {
    flex-direction: column;
    align-items: center;
}
#nosotros .container {
    flex-direction: row-reverse;
    align-items: flex-end;
}
.nosotros-page {
    flex-direction: column-reverse;
}
    nav {
        flex-direction: column;
        align-items:center;
    }
    section, main  {
        padding: 10px;
    }
    #btn-menu {
        display: block;
    }
    a.ocultar-menu {
        display: none;
    }
    .active {
        border-bottom: none;
    }
    .container, .container-md, .container-sm {
        max-width: 100%;

    }
    .service-li {
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    .service-item {
        margin: 3rem;
    }
}

@media (max-width: 580px) {
    .container, .container-md, .container-sm   {
        max-width: 100%;

    }
header {
    height: auto;
}
.main-title img {
    width: 90%;
}
h2.card-title {
    font-size: 4rem;
}
.jumbo-phonefit {
    line-height: normal;
}
.nosotros-page {
    flex-direction: column-reverse;
}
#nosotros .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
    .f-wrap { 
    flex-wrap: wrap;
}
.top-bar {
    justify-content: center;
}
.covid-alert {
    display: none;
}
.footer-column {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 1rem;
}
}
